---
Language: Cpp
# LanguageStandard: Cpp11
AccessModifierOffset: -4
PointerAlignment: Left
TabWidth: 4
IndentWidth: 4
UseTab: Never
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakConstructorInitializersBeforeComma: true
ConstructorInitializerIndentWidth: 0
ReflowComments: false
SpaceAfterTemplateKeyword: false
...
